@font-face {
  font-family: 'iconfont';  /* Project id 2856672 */
  src: url('//at.alicdn.com/t/font_2856672_o0gal5xlwvl.woff2?t=1634284795477') format('woff2'),
       url('//at.alicdn.com/t/font_2856672_o0gal5xlwvl.woff?t=1634284795477') format('woff'),
       url('//at.alicdn.com/t/font_2856672_o0gal5xlwvl.ttf?t=1634284795477') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}